*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #050c17;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

:root {
  --color-text: #fcfcfc;
  --color-text-dark: #fcfcfc;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
  --bg: "#050c17";
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.hero-heading {
  font-weight: 800;
  font-family: var(--font-heading);
  color: white;
  letter-spacing: 1px;
  font-size: calc(12px + 3vw);
}

.g-hero {
  height: 100vh;
  text-align: center;
  padding: 80px 40px;
}

.g-hero-heading {
  font-weight: 800;
  font-family: var(--font-heading);
  color: white;
  letter-spacing: -0.025em;
  font-size: calc(12px + 5vw);
  line-height: 1.05;
  padding: 0 0 80px 0;
}

.g-hero-tag {
  font-size: 18px;
  color: lightslategrey;
  letter-spacing: -0.032em;
  line-height: 1.5;
  padding: 0 0 40px 0;
  text-align: center;
}

.hero {
  height: 100vh;
  text-align: center;
  padding: 80px 40px;
}

.spacer {
  flex-grow: 1;
}

/* < Medium Size */
@media (max-width: 768px) { 
  .hero-heading {
    font-size: 60px;
  }
}

/* Mobile Size */
@media (max-width: 576px) {
  .hero-heading {
    font-size: 35px;
  }
}