*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

:root {
  --color-text: #fcfcfc;
  --color-text-dark: #fcfcfc;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
  --bg: #050c17;
  --color-primary-light: #f9cf47;
  --color-primary: #f4ae43;
  --color-primary-dark: #fa8a01;
}

body {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--bg);;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.hero-heading {
  font-weight: 800;
  font-family: var(--font-heading);
  color: white;
  letter-spacing: 1px;
  font-size: calc(12px + 3vw);
}

.f-hero {
  height: 100vh;
  text-align: center;
  padding: 80px 40px;
}

.f-hero-heading {
  font-weight: 800;
  font-family: var(--font-heading);
  color: white;
  letter-spacing: -0.025em;
  font-size: calc(12px + 5vw);
  line-height: 1.05;
  padding: 0 0 80px 0;
}

.f-hero-tag {
  font-size: 18px;
  color: lightslategrey;
  letter-spacing: -0.032em;
  line-height: 1.5;
  padding: 0 0 40px 0;
  text-align: center;
}

.hero {
  height: 100vh;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

/* < Medium Size */
@media (max-width: 768px) {
  .hero-heading {
    font-size: 60px;
  }
}

/* Mobile Size */
@media (max-width: 576px) {
  .hero-heading {
    font-size: 35px;
  }
}

html {
  scroll-behavior: smooth;
}

.f-heading {
  color: var(--color-heading);
  font-size: 72px;
  font-weight: bold;
}

.f-subheadings {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.05;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scroll-child {
  flex: 0 0 auto;
  margin-right: 36px;
  font-size: 24px;
}

/* < Lg Size */
@media screen and (max-width: 992px) {
  .f-heading {
    font-size: 80px;
    line-height: 1.05;
  }

  .f-subheadings {
    font-size: 25px;
  }
}

/* For mobile */
@media (max-width: 576px) {
  .f-heading {
    font-size: 48px;
  }

  .f-subheadings {
    font-size: 20px;
  }
}

iframe {
  border-radius: 8px;
  margin-top: 16px;
}

.f-btn {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  outline: none;
  font-size: 1.2rem;
}

.f-btn-alt {
  color: var(--color-primary) !important;
  background-color: var(--bg) !important;
  border-color: var(--color-primary-light) !important;
  outline: none;
  font-size: 1.2rem;
}

.f-btn-cta {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  outline: none;
  padding: 1rem 2.5rem;
  font-size: 1.42rem;
}

.f-btn:active,
.f-btn-cta:active {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.f-btn:hover,
.f-btn-cta:hover {
  color: var(--color-primary-light) !important;
  background-color: var(--bg) !important;
  border-color: var(--color-primary-light) !important;
}

.f-btn-cta-alt {
  color: var(--color-primary) !important;
  background-color: var(--bg) !important;
  border-color: var(--color-primary-light) !important;
  outline: none;
  padding: 1rem 2.5rem;
  font-size: 1.42rem;
}

.f-btn-alt:hover,
.f-btn-cta-alt:hover {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}
